<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Резюме</title>
    <style>
{style.css}
    </style>
</head>
<body>

<hr>

<h1>{Фамилия} {Имя} {Отчество}</h1>
<h2>{Желаемая должность}</h2>

<p>{Ваш адрес}</p>
<p>Телефон: {Телефон}</p>
<p>Email: {Почта}</p>

<h3>Хард Скилы</h3>
<p>{Хард Скилы}</p>

<h3>Софт Скилы</h3>
<p>{Софт Скилы}<p>

<h3>Образование</h3>
<p><strong>{Образование}</strong></p>
<p>{Период обучения}</p>
<p>{Описание достижений или проектов во время учебы}</p>

<h3>Опыт работы</h3>
<p><strong>{Название компании}, {Город} – {Должность}</strong></p>
<p>{Период работы}</p>
<ul>
    <li>Достижение или задача №1</li>
    <li>Достижение или задача №2</li>
    <li>Достижение или задача №3</li>
</ul>
<p>Навыки, полученные в компании: {Перечень навыков}</p>

<p><strong>{Название компании}, {Город} – {Должность}</strong></p>
<p>{Период работы}</p>
<ul>
    <li>Достижение или задача №1</li>
    <li>Достижение или задача №2</li>
    <li>Достижение или задача №3</li>
</ul>
<p>Навыки, полученные в компании: {Перечень навыков}</p>

<h3>В интернете</h3>
<p>GitHub: <a href="{Ссылка на GitHub}">{Ссылка на GitHub}</a></p>
<p>Telegram: <a href="{Ссылка на Telegram}">{Ссылка на Telegram}</a></p>

</body>
</html>
